<div class="grid min-h-[60vh] place-items-center w-full bg-base-100 px-6">
  <div class="max-w-md w-full text-center">
    <div class="relative mb-8">
      <img src="https://illustrations.popsy.co/gray/medical-checkup.svg" alt="Caricatura de anatomía"
        class="mx-auto w-64 h-64 object-contain" />
      <h1
        class="absolute inset-0 flex items-center justify-center text-9xl font-black text-blue-600/10 tracking-tighter">
        404
      </h1>
    </div>
    <h2 class="text-3xl font-bold text-primary mb-4 uppercase tracking-tight">
      ¡Diagnóstico: Página no encontrada!
    </h2>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a [routerLink]="['/']" class="text-primary text-sm font-bold transition-colors">
        ← Volver a la Sala de Espera
      </a>
    </div>
  </div>
</div>
